<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Мир книг{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Сайт о книгах">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block head %}
    <header class="bg-primary text-white p-3 mb-3">
        <div class="container text-center">
            <img src="{% static 'images/logotip.jpg' %}" alt="Логотип"
                style="width:100px; height:100px; vertical-align: middle;">
            <h1>Мир книг</h1>
        </div>
    </header>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% block sidebar %}
                <nav class="nav flex-column">
                    <li><a href="{% url 'index' %}">Главная страница</а>
                    </li>
                    <li><a href="{% url 'books' %}">Все книги</а>
                    </li>
                    <li><a href="{% url 'authors' %}">Все авторы</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'my-borrowed' %}">В заказе</a></li>
                    <li>Пользователь: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Выход</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Вход</a></li>
                    {% endif %}
                    </ul>
                    {% endblock %}
            </div>
            <div class="col-md-9"> <!-- Изменено на md для лучшей адаптивности -->
                {% block content %}{% endblock %}
                {% block pagination %}
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                        {% endif %}
                        <span class="page-current">
                            Страница {{ page_obj.number }} из
                            {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }} ">Следующая</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% endblock %}
            </div>
            <footer class="bg-light text-center p-3 mt-3"> <!-- Добавлена футер -->
                <p>Copyright ООО "Люди и книги", 2024. Все права защищены, Боб Дилан знает что он размещён на этом сайте
                    лично</p>
            </footer>
        </div>
</body>

</html>